/* START GLOBAL BODY.
________________________________________________________*/
/* flexbox */
.positioning {
    background-color: aquamarine;
    padding: 10px;
}

.container {
    display: flex;
    padding: 10px;
    background-color: palegoldenrod;
}
.wrapper {
    display: flex;
    background-color: powderblue;
    flex-direction: row;
}

.nav-item {
    list-style: none;
}