.positioning-textToSpeech{
    justify-content: center;
}

.wrapper-textToSpeech {
    padding: 10px 10px;
    width: 500px;
    height: 80%;
    justify-content: center;
    font-family: orbitron;
    border-radius: 4px;
}
.form-textToSpeech {
    height: 100%;
    width: 100%;
}
.textToSpeech{
    padding: 5px;
    width: 100%;
    font-family: asap;
    font-weight: bold;
}


input {
    font-family: asap;
    padding: 10px 10px;
    background-color: powderblue;
    /* color: antiquewhite; */
    text-align: center;
}
.btn {
    border-radius: 8px;
    padding: 10px 50px;
    letter-spacing: 18px;
    text-transform: uppercase;
}
